.blockScreen {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.blockScreen a {
    font-size: 2rem; /* Adjust the size of the emoji */
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.blockScreen a:hover {
    transform: scale(1.2); /* On hover, increase the size of the emoji */
}
  